<h1>New Team</h1>

<input type="text" data-ng-model="team.name" /><br/>
<input type="text" ng-model="team.activity" /><br/>
<input type="text" ng-model="team.time_zone" /><br/>

<button ng-click="save(team)">Save</button>

<p>
  <pre> {{ team | json }}</pre>
</p>