body
{
  background-image: url('<%= image_path("creampaper.png") %>') 
}

.tlheadercontent h1
{
  font-weight: 300;
  font-size: 2.4em;
}

.tlmaincontent
{
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 7px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.tlpaddedtop
{
  padding-top: 0.5em;
}

.tlpaddedsides
{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.tlteamseasonheader a
{
}

.tlitem 
{
  padding-bottom: 0.5em;
}

.tlmaincontent h3
{
  font-weight: 300;
  font-size: 2.2em; 
}

.tlitem
{

}