<section>
  <h3>recent activity</h3>
  <div class="tlitem" ng-repeat="activity in activities">
    {{activity.description}}<br/><em>{{activity.when}}</em>
  </div>
</section>
<section>
  <h3>upcoming events</h3>
  <div class="tlitem" ng-repeat="event in events">
    <time>{{event.when}}</time> at {{event.location.title}}<br/>
    {{event.details}}
  </div>
</section>
<section>
  <h3>messages</h3>
  <div class="tlitem" ng-repeat="message in messages">
  </div>
</section>
<section>
  <h3>recent photos</h3>
  <div class="tlitem" ng-repeat="photo in photos">

  </div>
</section>
