// setup any modules for things that will be used throughout app
angular.module('teamloop', ['teamServices'], function($routeProvider, $locationProvider) {

  $routeProvider.when('/', {
    templateUrl: '<%= asset_path("templates/home/index.html") %>',
    controller: HomeCtrl 
  });

  $routeProvider.when('/teams', {
    templateUrl: '<%= asset_path("templates/teams/index.html") %>',
    controller: TeamsCtrl
  });

  $routeProvider.when('/teams/new', {
    templateUrl: '<%= asset_path("templates/teams/new.html") %>',
    controller: TeamsCtrl
  });

  $routeProvider.when('/teams/:teamId', {
    templateUrl: '<%= asset_path("templates/teams/team.html") %>',
    controller: TeamsCtrl
  });

  $routeProvider.when('/messages', {
    templateUrl: '<%= asset_path("templates/messages/messages.html") %>',
    controller: MessagesCtrl
  });

  $routeProvider.when('/teams/:teamId/messages', {
    templateUrl: '<%= asset_path("templates/messages/messages.html") %>',
    controller: MessagesCtrl
  });

});
