<!DOCTYPE html>
<html data-ng-app="teamloop">
<head>
  <title>App</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <script type="text/javascript" src="//use.typekit.net/xui5rds.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.js" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  
</head>
<body> 
  <div class="container tlheadercontent">
    <h1>teamloop</h1>
  </div>
  <div class="container tk-museo-sans tlmaincontent">
    <div class="tlpaddedtop tlpaddedsides">

      <div class="tlteamseasonheader clearfix">
        <div class="pull-left">
          <a href="#">Mavericks</a>
        </div>
        <div class="pull-right">
          <a href="#">Spring 2013</a>
        </div>
      </div> 

      <div data-ng-view=""></div>

      <div>
        <h5>DEBUG INFO</h5>
        <pre>$location.path() = {{$location.path()}}</pre>
        <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
        <pre>$route.current.params = {{$route.current.params}}</pre>
        <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
        <pre>$routeParams = {{$routeParams}}</pre>
      </div>

    </div>

  </div>

</body>
</html>